{% extends "index.html" %}
{% block conteudo %}
    <div class="main-login">
        <div class="left-login">
            <h1>Cadastre-se<br> e entre para o nosso time</h1>
            <img src="{{ url_for('static', filename='src/favicon.png') }}" class="left-login-image" alt="Pessoas">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Sign up</h1>
                <div class="textfield">
                    <label for="usuario">Username</label>
                    <input type="text" name="usuario" placeholder="username">
                </div>
                <div class="textfield">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="email">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="senha">
                </div>
                <button class="btn" id="btn-cadastro">Sign up</button>
                <p class="signin">Já tem conta? <a href="{{ url_for('login') }}">Sign in</a> </p>
            </div>
        </div>
    </div>

    {% block scripts %}
    <script type="module" src="../static/js/signUp.js"></script>
    {% endblock %}
{% endblock %}